<div class="jumbotron">
    <h1>Welcome to EPOS:   
      <span style="font-size: 44px">Ethical Point Of Sale</span>
    </h1>
  
    <!-- <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    </p> -->
    <br/>
    <div class="row">
      <div class="col-md-12">
        <div style="text-align: center;">
            <a class="btn btn-lg btn-success" ng-href="#!scan">Scan Your Item Here<span class="glyphicon glyphicon-ok padding-left-10"></span></a>          
        </div>
      </div>
    </div>
  </div>
  
  <div class="row marketing">
  
  </div>