<div class="jumbotron">
<div class="top-backgroun">
    <div class="row">
        <dic class="col-md-6"></dic>
        <dic class="col-md-6">
            <h3 class="pull-right margin-right-small"><span>Credit Raised for Charity</span><span> X</span></h3>
        </dic>
    </div>

    <div class="row">
        <div class="col-md-6">
            item image goes here
        </div>
        <div class="col-md-6">
            <h2>{{item.name}}</h2>
            <table class="table">
                <thead>
                    <tr>
                    <th>Nutrition</th>
                    <th>Amount</th>
                    <th>KMC</th>
                    </tr>
                </thead>
                <tbody>          
                    <tr ng-repeat="element in item.nutrition">
                        <td>{{element.nutrition }}</td>
                        <td>{{element.amount }}</td>
                        <td>{{element.KMC }}</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <table>
            <thead>
                    <tr>
                    <th></th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    <td>TOTAL</td>
                    <td>{{totalKMC}}</td>
                </tbody>
            </table>
            <hr>
        </div>
    </div>
</div>
<hr>
<div class="bottom-background">
    <div class="row" style="position: relative">
        <div class="col-md-8">
            <h3>User Name here</h3>
            <h3>Total Credits: {{}}</h3>
        </div>
        <div class="col-md-4 align-bottom" style="position: absolute; bottom:0; right: 0">
            <button type="button" class="btn btn-success" ng-click="submit()">Submit</button>
            <button type="button" class="btn btn-success" ng-click="reset()">Reset</button>                
        </div>
    </div>

    
 </div>
</div>